---
version: '2'
services:
  configure:
    image: chn-config
    build:
      context: .
    volumes:
      - './config/sysconfig:/config:z'
    entrypoint: {entrypoint}
  mongodb:
    image: stingar/mongodb:1.7
    volumes:
      - ./storage/mongodb:/var/lib/mongo:z
  redis:
    image: stingar/redis:1.7
    volumes:
      - ./storage/redis:/var/lib/redis:z
  hpfeeds:
    image: stingar/hpfeeds:1.7
    links:
      - mongodb:mongodb
    ports:
      - "10000:10000"
  mnemosyne:
    image: stingar/mnemosyne:1.7
    links:
      - mongodb:mongodb
      - hpfeeds:hpfeeds
  chnserver:
    image: stingar/chn-server:1.7
    depends_on:
      - configure
    volumes:
      - ./config/collector:/etc/collector:z
      - ./storage/chnserver/sqlite:/opt/sqlite:z
      - ./config/sysconfig/chnserver.sysconfig:/etc/default/chnserver:z
      - ./certs:/etc/letsencrypt:z
    links:
      - mongodb:mongodb
      - redis:redis
      - hpfeeds:hpfeeds
    ports:
      - "80:80"
      - "443:443"
